<a href="https://colab.research.google.com/github/DeepanshuPasrija/PW19June/blob/main/PW1906.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#data insertion with Google Colab

#1. Install Cassandra db
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading https://files.pythonhosted.org/packages/5c/85/2b87a18870e6c457a762cea58920a42c5d357b3e9ef3a6f94b978429ec15/cassandra_driver-3.25.0-cp37-cp37m-manylinux1_x86_64.whl (3.8MB)
     |████████████████████████████████| 3.8MB 6.9MB/s
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from cassandra-driver) (1.15.0)
Collecting geomet<0.3,>=0.1
  Downloading https://files.pythonhosted.org/packages/c9/81/156ca48f950f833ddc392f8e3677ca50a18cb9d5db38ccb4ecea55a9303f/geomet-0.2.1.post1-py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [6]:
import cassandra
from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
from ssl import PROTOCOL_TLSv1_2, SSLContext, CERT_NONE
from requests.utils import DEFAULT_CA_BUNDLE_PATH

ssl_context = SSLContext(PROTOCOL_TLSv1_2)
ssl_context.verify_mode= CERT_NONE

auth_provider = PlainTextAuthProvider(username='pwcass',password='4npxDaR2mxA6Gbj3zlKpAzAGaK7vQrl6jP7szCW7LsAWE9vSaeBOWcvOUfAzrRi4MDPk3jla2QCSkEh7XlNMoQ==')
cluster = Cluster(['pwcass.cassandra.cosmos.azure.com'], port = 10350, auth_provider=auth_provider, ssl_context=ssl_context)
session = cluster.connect()

In [7]:
session.execute('CREATE KEYSPACE IF NOT EXISTS PW WITH replication={\'class\': \'NetworkTopologyStrategy\',\'datacenter\':\'1\'}')

In [9]:
session.execute('CREATE TABLE IF NOT EXISTS PW.cities(user_id int PRIMARY KEY, username text, user_bcity text)')

In [11]:
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[1, 'John','Seattle'])

In [12]:
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[2, 'Jay','Dubai'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[3, 'Jam','Chennai'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[4, 'Jon','Pune'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[5, 'Johnathan','Mumbai'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[6, 'Raj','Bangalore'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[7, 'Ram','Belgaum'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[8, 'Johny','New York'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[9, 'Tupac','Texas'])
session.execute("INSERT INTO PW.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[10, 'Jojo','California'])

In [21]:
from prettytable import PrettyTable 

def PrintTable(rows):
    t = PrettyTable(['UserID','Name','City'])
    for r in rows:
      t.add_row([r.user_id, r.username, r.user_bcity])
    print(t)



rows = session.execute('SELECT * FROM PW.cities')
PrintTable(rows)

+--------+--------+-------------+
| UserID |  Name  |     City    |
+--------+--------+-------------+
|   5    | Connor |  Las Vegas  |
|   6    |  Ram   |  Minnesota  |
|   7    |  Raj   |   Chicago   |
|   2    |  Jay   |    Miami    |
|   9    |  Bill  | Los Angeles |
|   3    |  Ron   |    Boston   |
|   10   | Henry  |  California |
|   4    | Jason  |  St. Louis  |
|   1    |  John  |   Seattle   |
|   8    | Vikas  |   Florida   |
+--------+--------+-------------+

In [22]:
from prettytable import PrettyTable 

def PrintTable(rows):
    t = PrettyTable(['UserID','Name','City'])
    for r in rows:
      t.add_row([r.user_id, r.username, r.user_bcity])
    print(t)

rows = session.execute('SELECT * FROM PW.cities LIMIT 5')
PrintTable(rows)

+--------+--------+-------------+
| UserID |  Name  |     City    |
+--------+--------+-------------+
|   5    | Connor |  Las Vegas  |
|   6    |  Ram   |  Minnesota  |
|   7    |  Raj   |   Chicago   |
|   2    |  Jay   |    Miami    |
|   9    |  Bill  | Los Angeles |
+--------+--------+-------------+

In [23]:
rows = session.execute('SELECT * FROM PW.cities WHERE user_id = 9')
PrintTable(rows)

+--------+------+-------------+
| UserID | Name |     City    |
+--------+------+-------------+
|   9    | Bill | Los Angeles |
+--------+------+-------------+

In [25]:
session.execute("CREATE KEYSPACE IF NOT EXISTS cycling WITH REPLICATION={\'class\': \'NetworkTopologyStrategy\',\'datacenter1\':\'3\'}")

In [27]:
session.execute("CREATE TABLE IF NOT EXISTS cycling.rankbyyearandname(race_year int , race_name text, cyclist_name text, rank int, PRIMARY KEY((race_year, race_name), rank) );")