<a href="https://colab.research.google.com/github/DeepanshuPasrija/PW19June/blob/main/PWCNeo4j.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install neo4j

Collecting neo4j
  Downloading https://files.pythonhosted.org/packages/0b/22/9b6d28613e8a564b9e82cf3b871b6df1f58a99cf5ac8a100439f9e895b5f/neo4j-4.3.1.tar.gz (74kB)
     |████████████████████████████████| 81kB 4.2MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from neo4j) (2018.9)
Building wheels for collected packages: neo4j
  Building wheel for neo4j (setup.py) ... done
  Created wheel for neo4j: filename=neo4j-4.3.1-cp37-none-any.whl size=99332 sha256=34987731369642a5646694ed47a1640beaf0c5c1bbd5a9425bfcf178181f35f0
  Stored in directory: /root/.cache/pip/wheels/23/13/72/0cc2405898bd9a7baef6512df3abf83873da9ba48c04acc818
Successfully built neo4j
Installing collected packages: neo4j
Successfully installed neo4j-4.3.1

In [2]:
import neo4j
from neo4j import GraphDatabase

uri= 'bolt://3.83.97.73:7687'
user='neo4j'
password='hem-outfits-thirteen'
driver = GraphDatabase.driver(uri, auth=(user, password))

In [3]:
class Driver:
  def __init__(this,uri,user,password):
    this.driver = GraphDatabase.driver(uri, auth=(user, password))
  def close(this):
    this.driver.close()

In [4]:
class Driver:
  def __init__(this,uri,user,password):
    this.driver = GraphDatabase.driver(uri, auth=(user, password))
  def close(this):
    this.driver.close()
  
  def executequery(this, query, parameters=None, db=None):
    session = this.driver.session(database=db) if db is not None else this.driver.session()

    response=[]

    try:
      response = list(session.run(query, parameters))
    except Exception as e:
      print("Query failed:",e)
    finally:
      if session is not None:
        session.close()
      return response

In [6]:
query = 'CREATE (t:trainer)-[:LIKES]->(f:food)'
mydriver = Driver(uri, user, password)
mydriver.executequery(query)

[]

In [8]:
query = 'CREATE (t:trainer{name:"Goofy"})-[:LIKES]->(f:food{type:"air"})'
mydriver.executequery(query)

[]

In [9]:
trainers = ["Deepanshu","mantis shrimp","donald duck"]
food = ["chole bhature","samosa","pav bhaji"]

In [10]:
for c in range(3):
  query = 'CREATE (t:trainer {name:"'+trainers[c]+'"})-[rel:LIKES]->(f:food{type:"'+food[c]+'"})'
  mydriver.executequery(query)

In [12]:
query = 'MATCH (t:trainer) RETURN t'
mydriver.executequery(query)

[<Record t=<Node id=0 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=2 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=4 labels=frozenset({'trainer'}) properties={'name': 'Batman'}>>,
 <Record t=<Node id=6 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=8 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=10 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=12 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=14 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=16 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=18 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=20 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=22 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=24 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=26 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=28 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=30 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=32 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=34 labels=frozenset({'trainer'}) properties={'name': 'Goofy'}>>,
 <Record t=<Node id=36 labels=frozenset({'trainer'}) properties={'name': 'Goofy'}>>,
 <Record t=<Node id=38 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=40 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=42 labels=frozenset({'trainer'}) properties={'name': 'mantis shrimp'}>>,
 <Record t=<Node id=44 labels=frozenset({'trainer'}) properties={'name': 'donald duck'}>>]

In [13]:
query = 'MATCH (t:trainer{name:"Deepanshu"})-[:LIKES]->(f:food) RETURN f '
mydriver.executequery(query)

[<Record f=<Node id=3 labels=frozenset({'food'}) properties={'type': 'pasta'}>>,
 <Record f=<Node id=41 labels=frozenset({'food'}) properties={'type': 'chole bhature'}>>,
 <Record f=<Node id=47 labels=frozenset({'food'}) properties={'type': 'chole bhature'}>>,
 <Record f=<Node id=53 labels=frozenset({'food'}) properties={'type': 'chole bhature'}>>,
 <Record f=<Node id=61 labels=frozenset({'food'}) properties={'type': 'chole bhature'}>>,
 <Record f=<Node id=73 labels=frozenset({'food'}) properties={'type': 'chole bhature'}>>]

In [14]:
query = 'MATCH (t:trainer)-[:LIKES]->(f:food{type:"chole bhature"}) RETURN t '
mydriver.executequery(query)

[<Record t=<Node id=40 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=46 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=52 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=60 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=72 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>]

In [15]:
trainers = ['Anshu', 'Superman','Goofy','thor','Batman']
students = ['humans','monkeys','cats','pikachus','giraffe']

for c in range(5):
  query = 'CREATE (t:trainer {name:"'+trainers[c]+'"})-[rel:TEACHES]->(s:student{gene:"'+students[c]+'"})'
  mydriver.executequery(query)

In [16]:
query = 'MATCH (t:trainer)-[:TEACHES]->(s:student) RETURN t'
mydriver.executequery(query)

[<Record t=<Node id=116 labels=frozenset({'trainer'}) properties={'name': 'Anshu'}>>,
 <Record t=<Node id=118 labels=frozenset({'trainer'}) properties={'name': 'Superman'}>>,
 <Record t=<Node id=120 labels=frozenset({'trainer'}) properties={'name': 'Goofy'}>>,
 <Record t=<Node id=122 labels=frozenset({'trainer'}) properties={'name': 'thor'}>>,
 <Record t=<Node id=124 labels=frozenset({'trainer'}) properties={'name': 'Batman'}>>]

In [17]:
query = 'MATCH (t:trainer{name:"Batman"}) SET t.birthdate = date("1980-10-10") RETURN t'
mydriver.executequery(query)

[<Record t=<Node id=4 labels=frozenset({'trainer'}) properties={'name': 'Batman', 'birthdate': neo4j.time.Date(1980, 10, 10)}>>,
 <Record t=<Node id=124 labels=frozenset({'trainer'}) properties={'name': 'Batman', 'birthdate': neo4j.time.Date(1980, 10, 10)}>>]

In [18]:
query = 'MATCH (t:trainer)-[tea:TEACHES]-(s:student) RETURN t.name,tea.id,s.gene'
mydriver.executequery(query)

[<Record t.name='Anshu' tea.id=None s.gene='humans'>,
 <Record t.name='Superman' tea.id=None s.gene='monkeys'>,
 <Record t.name='Goofy' tea.id=None s.gene='cats'>,
 <Record t.name='thor' tea.id=None s.gene='pikachus'>,
 <Record t.name='Batman' tea.id=None s.gene='giraffe'>]

In [19]:
query = 'MATCH (t:trainer) WHERE t.name="Batman" RETURN t'
mydriver.executequery(query)

[<Record t=<Node id=4 labels=frozenset({'trainer'}) properties={'name': 'Batman', 'birthdate': neo4j.time.Date(1980, 10, 10)}>>,
 <Record t=<Node id=124 labels=frozenset({'trainer'}) properties={'name': 'Batman', 'birthdate': neo4j.time.Date(1980, 10, 10)}>>]

In [21]:
query = 'MATCH (t:trainer) WHERE NOT t.name="Batman" RETURN t.name, t.birthdate'
mydriver.executequery(query)

[<Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Anshu' t.birthdate=None>,
 <Record t.name='Superman' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='thor' t.birthdate=None>]

In [22]:
query = 'MATCH (d:trainer) WHERE exists(d.birthdate) RETURN d.name, d.birthdate'
mydriver.executequery(query)

[<Record d.name='Batman' d.birthdate=neo4j.time.Date(1980, 10, 10)>,
 <Record d.name='Batman' d.birthdate=neo4j.time.Date(1980, 10, 10)>]

In [23]:
query = 'MATCH (d:trainer)-[rel:LIKES]->(f:food) WHERE exists(d.birthdate) RETURN d.name, d.birthdate,f.type'
mydriver.executequery(query)